@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #17152d;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.fit-screen {
  width: 100%;
}
.sidebar:hover ~ main {
  @apply pl-52 sm:pl-72;
}
.sidebar:hover .sidebar-item-text {
  display: block;
}
.sidebar:hover + main .fit-screen {
  @apply pl-52 sm:pl-72;
}
.sidebar:hover a {
  @apply justify-start;
}
.card {
  width: calc(100vw - 7rem);
}
